.my-first-list a {
  display: block;
  margin: 8px;
}

.my-first-list a::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: purple;
  content: '';
  transform: rotate(45deg);
  margin-right: 8px;
}

.my-first-list a::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 40px;
  content: '';
}

.my-second-list a {
  display: block;
}

.my-second-list a::before {
display: inline-block;
width: 10px;
height: 10px;
background-color: pink;
content: '';
border-radius: 40px;
}

.my-second-list a::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  content: '';
  transform: rotate(45deg);
  margin: 0 8px;
}
